<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<body>
	<div th:fragment="content">
	
		<table class="datatable order-column stripe hover">
			<thead>
				<tr>
					<th>CodSemestre</th>
					<th>Descripcion</th>
					<th>FechaInicio</th>
					<th>FechaTermino</th>
					<th>&nbsp;</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="semestre : ${semestres}">
					<td th:text="${semestre.codigo}"></td>
					<td th:text="${semestre.descripcion}"></td>
					<td th:text="${semestre.fecinicio}"></td>
					<td th:text="${semestre.fecfin}"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	
	</div>
</body>
</html>